<div class="default-form">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <h1 mat-dialog-title>Add-User</h1>
    <div mat-dialog-content class="add-user-dialog">
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="names full-width">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input [disabled]="loading" matInput formControlName="firstName" [(ngModel)]="user.firstName"
                        placeholder="Johann" required />
                    <mat-error
                        *ngIf="userForm.controls['firstName']?.invalid && userForm.controls['firstName']?.touched">
                        First Name is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="second-row">
                    <mat-label>Last Name</mat-label>
                    <input [disabled]="loading" matInput formControlName="lastName" [(ngModel)]="user.lastName"
                        placeholder="Klein" required />
                    <mat-error *ngIf="userForm.controls['lastName']?.invalid && userForm.controls['lastName']?.touched">
                        Last Name is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input [disabled]="loading" matInput formControlName="mail" [(ngModel)]="user.mail"
                    placeholder="max@mustermann.de" required />
                <mat-error *ngIf="userForm.controls['mail']?.invalid && userForm.controls['mail']?.touched">
                    Mail is required and must be a valid email address (e.g., example@example.com).
                </mat-error>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" class="full-width">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" matInput [matDatepicker]="picker1" [(ngModel)]="birthDate"
                    formControlName="birthDate" required [matDatepickerFilter]="dateFilter" />
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="userForm.controls['birthDate']?.invalid && userForm.controls['birthDate']?.touched">
                    Birth Date is required and must be in the past.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Street + House No.</mat-label>
                <input [disabled]="loading" matInput formControlName="street" [(ngModel)]="user.street"
                    placeholder="Street + House No." required />
                <mat-error *ngIf="userForm.controls['street']?.invalid && userForm.controls['street']?.touched">
                    Street is required.
                </mat-error>
            </mat-form-field>

            <div class="city full-width">
                <mat-form-field appearance="outline">
                    <mat-label>PLZ</mat-label>
                    <input matInput formControlName="zipCode" [(ngModel)]="user.zipCode" placeholder="PLZ" required />
                    <mat-error *ngIf="userForm.controls['zipCode']?.invalid && userForm.controls['zipCode']?.touched">
                        PLZ is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="second-row">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading" matInput formControlName="city" [(ngModel)]="user.city"
                        placeholder="City" required />
                    <mat-error *ngIf="userForm.controls['city']?.invalid && userForm.controls['city']?.touched">
                        City is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions>
                <button mat-button (click)="closeDialog()">No Thanks</button>
                <button mat-button [disabled]="userForm.invalid" cdkFocusInitial type="submit">
                    Ok
                </button>
            </div>
        </form>
    </div>
</div>