<div class="default-card">
  <mat-card>
    <mat-card-title>Current active deals</mat-card-title>
    <mat-card-content>Total Sale Volume: {{ totalVolume }}</mat-card-content>
  </mat-card>


  <div *ngIf="deals.length > 0;else noDealsBlock">
    <table class="default-table">
      <thead>
        <th>status</th>
        <th>volume</th>
        <th>type</th>
        <th>description</th>
      </thead>
      <tr *ngFor="let deal of deals" (click)="editDeal(deal)">
        <td>{{ deal.status }}</td>
        <td>{{ deal.volume }}</td>
        <td>{{ deal.type }}</td>
        <td>{{ deal.description }}</td>
      </tr>
    </table>
  </div>

  <ng-template #noDealsBlock>Currently, there are no active deals.</ng-template>
</div>