<div *ngIf="deals.length > 0;else noDealsBlock">
  <mat-card-title>Current active deals</mat-card-title>
  <mat-card-subtitle>Total Sale Volume: {{ formatter.format(totalVolume) }}</mat-card-subtitle>
  <table class=" default-table">
    <thead>
      <th>Status</th>
      <th>volume</th>
      <th>description</th>
    </thead>
    <tr *ngFor="let deal of deals" (click)="editDeal(deal)">
      <td>{{ deal.status }}</td>
      <td>{{ formatter.format(deal.volume) }}</td>
      <td>{{ deal.description }}</td>
    </tr>
  </table>


</div>

<ng-template #noDealsBlock>Currently, there are no active deals.</ng-template>