mat-card {
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);


    mat-card-title {
        color: white;
        text-decoration: dotted;
    }

    mat-card-content {
        color: white;
        text-decoration: none;
    }

    @media screen and (max-width: 700px) {
        mat-card-header {

            mat-card-title,
            mat-card-subtitle {
                padding: 0;
            }
        }


        img {
            display: none;
        }
    }

    margin-bottom: 8px;
}