<mat-card class="user-details default-object" *ngIf="firebaseService.loadedUser">
    <mat-card-header>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="pin-right">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="editUserDetail()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
        <mat-card-title>{{ firebaseService.loadedUser.firstName }} {{ firebaseService.loadedUser.lastName
            }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="pin-right">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressMenu="matMenu">
            <button mat-menu-item (click)="editAddressDetail()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>

        <mat-card-title>Address:</mat-card-title>
        <p>{{ firebaseService.loadedUser.street }}</p>
        <p>{{ firebaseService.loadedUser.zipCode }} {{ firebaseService.loadedUser.city }}</p>
    </mat-card-content>

    
    <mat-card-content>
        <app-deals *ngIf="firebaseService.loadedDeals" [deals]="firebaseService.loadedDeals">
        </app-deals>
        <button mat-button (click)="addDeal()">Add Deal</button>
    </mat-card-content>
    

</mat-card>