.user-details {

    width: clamp(50px, 100%, 1000px);

    gap: 32px;

    mat-card-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;
        padding: 24px;
        background-color: #c2185b;



        mat-card-title {
            font-size: 64px;
        }

        img {
            height: 64px;
            width: 64px;
        }
    }

    mat-card-content {
        background-color: rgb(54, 54, 54);
        padding: 16px;
    }

    .add-user {
        button {
            background-color: #c2185b;
        }
    }

}

.pin-right {
    position: absolute;
    right: 16px;
}

.mdc-button {
    padding: 8px;
    margin: 8px;
    width: calc(100% - 16px);
    background-color: rgb(78, 78, 78);
}