.message-container {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;


    mat-card {
        z-index: 99;
        position: relative;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: fit-content;
        animation: shiftUp 4s;

        mat-card-content {
            font-weight: 500;
            font-size: 24px;
        }
    }

    @keyframes shiftUp {
        0% {
            top: 100%;
        }

        15% {
            top: 70%;
        }

        85% {
            top: 70%;
        }

        100% {
            top: 100%;
        }
    }
}

.error {
    background-color: rgb(255, 66, 66);
    color: white;
}

.success {
    background-color: #c48ea3;
    border: solid 1px #c2185b;
    color: white;
}