<mat-card>
    <table class="user-table">
        <thead>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </thead>

        <tr>
            <th>asd</th>
            <th>E-asdasd</th>
            <th>Ciasdasdty</th>
        </tr>

        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>


    </table>
</mat-card>

<div class='add-user'>
    <button mat-fab color="primary" matTooltip="Add user" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>