<mat-card class="default-object">
    <table class="default-table">
        <thead>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </thead>
        <tr *ngFor="let user of firebaseService.loadedUsers" [routerLink]="['/user/' + user.id ]">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.city }}</td>
        </tr>
    </table>
</mat-card>

<div class='add-user'>
    <button mat-fab color="primary" matTooltip="Add user" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>