.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .main-content {
        width: calc(100% - 432px);
        min-width: 650px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        height: max-content;

        @media screen and (max-width: 850px){
            min-width:500px;
            
        }

        .bright-grey-bg {
            background-color: #424242;
            border-radius: 8px;
        }
    }

    .news-content {
        max-width: 400px;
    }
}