<div class="dashboard-container">
    <div class='main-content'>
        <div class="default-object bright-grey-bg">
            <app-user-count></app-user-count>
            <app-total-deals-volume></app-total-deals-volume>
            <app-total-closed-won-deals-volume></app-total-closed-won-deals-volume>
        </div>
        <div class="default-object">
            <app-biggest-deals></app-biggest-deals>
        </div>
        <div class="default-object">
            <app-deal-status-chart></app-deal-status-chart>
        </div>
    </div>
    <div class="news-content"><app-news-feed></app-news-feed></div>
</div>