/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.default-table {
    width: 100%;

    thead {
        background-color: #c2185b;
    }

    tr {
        border-bottom: 1px solid black;
        cursor: pointer;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: #c2185c25;
        }
    }
}

.default-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px;

    mat-form-field {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.default-card {
    padding: 16px;
}

mat-card {
    padding: 8px;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: #c2185b;
}
